
[submodule "docs/extra/doxygen-awesome-css"]
	path = docs/extra/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "include/libs/nlohmann"]
	path = include/libs/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "include/libs/curl"]
	path = include/libs/curl
	url = https://github.com/curl/curl.git
